services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - NUXT_PRUVIOUS_DATABASE=postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/postgres
      - NUXT_JWT_SECRET_KEY=${NUXT_JWT_SECRET_KEY}
      - NUXT_TURNSTILE_SECRET_KEY=${NUXT_TURNSTILE_SECRET_KEY}
      - NUXT_TURNSTILE_SITE_KEY=${NUXT_TURNSTILE_SITE_KEY}
      - NUXT_PLAUSIBLE_DOMAIN=${NUXT_PLAUSIBLE_DOMAIN}
      - NUXT_PLAUSIBLE_SCRIPT_URL=${NUXT_PLAUSIBLE_SCRIPT_URL}
    volumes:
      - ../files/uploads:/app/.uploads
  db:
    image: postgres:16-alpine
    volumes:
      - ../files/postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
volumes:
  postgres-data:
  uploads: