services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - NUXT_PRUVIOUS_DATABASE=postgres://postgres:${POSTGRES_PASSWORD}@db:5432/postgres
      - NUXT_JWT_SECRET_KEY=${NUXT_JWT_SECRET_KEY}
  db:
    image: postgres:16-alpine
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
volumes:
  postgres-data: